<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaliPay"
        tools:targetApi="31">

        <!-- Splash Activity - LAUNCHER -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Create Group Activity -->
        <activity
            android:name=".activities.CreateGroupActivity"
            android:exported="false" />

        <!-- Join Group Activity -->
        <activity
            android:name=".activities.JoinGroupActivity"
            android:exported="false" />

        <!-- Group Detail Activity -->
        <activity
            android:name=".activities.GroupDetailActivity"
            android:exported="false" />

        <!-- Admin Payment Activity -->
        <activity
            android:name=".activities.AdminPaymentActivity"
            android:exported="false" />

    </application>

</manifest>